h1{
    font-size: 300%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
div{
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    width: 30.7%;
    float: left;
    margin: 1%;
    border: 2px solid black;
}
p{
    margin-top: 6%;
    padding: 3%;
}
div h2{
    border: 2px solid black;
    margin: 0;
    float: right;
    width: 30%;
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    text-align: center;
}
div h2:hover{
    background:black;
    color: white;
    cursor: pointer;
}
@media only screen and (min-width: 769px) and (max-width: 991px){
    div{
        display: inline-block;
        width: 47%;
    }
    .menu-3{
        clear: both;
        display: block;
        width: 96.5%;
    }
}
@media only screen and (max-width: 768px){
    div{
        display: inline-block;
        width: 98%;
    }
    p{
        margin-top: 8%;
    }
}